<form action='/update' method='post'>
Name: <%= person.name %><br>
<!-- don show this but submit -->
<input name='username' value='<%= person.name %>' hidden>
<!-- don show this but submit -->
Age: <input name='age' value='<%= person.age %>'>
<input type='submit' value='Update'>
</form>
<br><a href='/public/personform.html'>Create New Person</a>
<br><a href='/all'>Show All</a>