<!--  -->
<!--  -->
Successfully created new person:
<p>
<b>Name:</b> 
<%= person.name %>
<!-- access argument and evaluate -->
<!-- name of argument is person, person has a name property -->
<br>
<b>Age:</b> 
<%= person.age %>
<!-- display the age here -->
<br><a href='/public/personform.html'>Create New Person</a>
<br><a href='/all'>Show All</a>