<!-- This is views/welcome.ejs -->
<!DOCTYPE html>
<html>
    <body>
        <h1>Welcome, <%= username %>!</h1>
        <% if(isAdmin) { %>
            <p>
                Remember to check your email every 24 hours!
            </p>
        <% } %>
    </body>
</html>